<ion-view title="Menú de Aplicaciones" id="page3" style="background-color:#034B3D;" hide-nav-bar="true" class="menu-background">
<ion-content padding="true" class="has-footer">
<!--  -->

<!--  -->
    
<!--     <div class="spacer" style="width: 300px; height: 108px;"></div> -->
<!--     <div>
            <img src="img/fondoMenu.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>     -->
<!--  -->
<div class="list card">

  <div class="item item-avatar">
    <img src="img/bc.jpg">
    <h2>Notificaciones de Producción</h2>
  </div>
  <div class="item item-body">
    <p>
      Generar y administrar notificaciones de producción de manera online impactando en SAP.
      Los métodos de ingreso son: manual, mediante lectura de camara de dispositivo y uso de lectora de código de barras.
    </p>
    <button id="menDeAplicaciones-button8" 
            style="border-radius:-50px -50px -50px -50px;" 
            ng-click="irOrdenes()"
            class="button button-light  button-block button-outline icon-left ion-camera">Ingreso Órdenes de producción</button>    
  </div>
</div>


<div class="list card">

  <div class="item item-avatar">
    <img src="img/camion.jpg">
    <h2>Movimientos de Mercadería</h2>
  </div>
  <div class="item item-body">
    <p>
      Creación de movimientos de mercadería.
    </p>
    <button id="menDeAplicaciones-button9" 
            ng-click="irOrdenes()"
            class="button button-light  button-block button-outline icon-left ion-android-car">Despacho de mercaderia</button> 
  </div>
</div>

<!--  -->
<!--     <button id="menDeAplicaciones-button8" 
            style="border-radius:-50px -50px -50px -50px;" 
            ng-click="irOrdenes()"
            class="button button-light  button-block button-outline icon-left ion-camera">Ingreso Órdenes de producción</button> -->
       
<!--     <button id="menDeAplicaciones-button9" 
            ng-click="irOrdenes()"
            class="button button-light  button-block button-outline icon-left ion-android-car">Despacho de mercaderia</button> -->
            <div style="text-align: center;"><img ng-src="https://maps.googleapis.com/maps/api/staticmap?center=-31.980571,-60.406279&zoom=16&size={{dev_width}}x150&maptype=roadmap&markers=-31.980571,-60.406279
&key=AIzaSyC1YLbGt2lAvgW_2NTZ1YT0PJ5TJDcGWyU"></div>
    <button id="menDeAplicaciones-button10" 
            ng-click="irWeb()"
            class="button button-light  button-block button-outline 
            icon-left ion-android-mail">Acerca de Motta</button>
<!--     <div class="spacer" style="height: 50px;"></div> -->

<!--     <div style="margin-right:-20px;">
      <button id="menDeAplicaciones-button14"
              ng-click="irLogOut()"
              style="left:-10px;" 
              class="button button-light  button-full icon-left ion-log-out">Log Out</button>
    </div> -->
  </ion-content>
  <ion-footer-bar style="padding:0;">
    <button class="button button-full" ng-click="irLogOut()" style="margin: 0;">
    <i class="icon ion-log-out"></i>
    LOGOUT
    </button>
</ion-footer-bar>
</ion-view>