<ion-view title="Órdenes de Producción" id="page4" style="background-color:#034B3D;">
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
<!--     <button id="RdenesDeProducciN-button11" 
            ng-click="ingresoManual()"
            class="button button-light  button-block button-outline icon-left ion-android-create"
            >Ingreso Manual </button>
    <button id="RdenesDeProducciN-button12" 
            ng-click="scanCodigo()"
            class="button button-light  button-block button-outline icon-left ion-camera"
            >Escanear Códigos</button> -->
    <button id="RdenesDeProducciN-button13" 
            ng-click="multiIngreso()"
            class="button button-light  button-block button-outline icon-left ion-clipboard"
            >Ingresar</button>            
    <div style="margin-right:-20px;">
    <button id="RdenesDeProducciN-button13" 
            style="left:-10px;"
            ng-click="listoTodos()"
            class="button button-light  button-full icon-left ion-ios-grid-view"
            >Ver</button>
    </div>
  </ion-content>
</ion-view>